:root {
    --cor-principal: #11113d;
    --cor-secundaria: #ffffff;
    --cor-hover: #3b3bf43e;
    --cor-de-fundo: #f8f8ff;
    /* Pesquisar sobre os tamanhos Rem e Em */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-de-fundo);
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
}

h2 {
    margin: 5px;
    padding: 5px;
}

/*Barra de navegação*/
li a:hover,
.dropdown:hover .dropbtn {
    background-color: var(--cor-hover);
}

li a,
.dropbtn,
.logo {
    display: inline-block;
    color: var(--cor-secundaria);
    text-align: center;
    padding: 15px 15px 15px 5px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cor-secundaria);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header {
    background: var(--cor-principal);
    width: 100%;
}

nav {
    overflow: hidden;
    margin: auto;
    width: 80%;
    padding: 0;
    font-size: 18px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    display: inline-block;
    color: var(--cor-secundaria);
}

.logo {
    float: left;
    margin: 0;
    padding: 2px;
    border: 0;
    vertical-align: baseline;
}


/*midia quieres para Barra de navegação*/

@media screen and (max-width: 1280px) {
    nav {
        width: 100%;
    }

    .logo {
        margin-left: 7px;
    }

}

@media screen and (max-width: 500px) {
    .logo {
        float: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .menu {
        margin-top: 20px;
        float: none;
        text-align: center;
    }

    li {
        float: none;
        margin-bottom: 5px;
        padding: 10px;
        display: block;
    }

    .dropdown-content a {
        text-align: center;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--cor-secundaria);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
}

/*grid-layout*/
body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


footer {
    text-align: center;
    background-color: var(--cor-principal);
    margin-top: 20px;
    color: var(--cor-secundaria);
}

footer a {
    font-weight: bolder;
    color: #DDAD37;
}

/*css-FlexBox*/
.produtos-lista {
    display: flex;
    flex-wrap: wrap;
    /*Quando implementar o carrossel, tirar o flex wrap */
    justify-content: start;
    width: auto;
    background-color: var(--cor-de-fundo);
    overflow: auto;
    flex-direction: row;
    text-align: center;
}

.produtos-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.carrossel-produtos {
    display: flex;
    justify-content: center;
    width: auto;
    background-color: var(--cor-de-fundo);
    overflow: auto;
    flex-direction: row;
    text-align: center;
}

.produtos .produto-card {
    width: 300px;
    height: 350px;
    margin: 7px;
    background-color: #ffffff;
    padding-top: 5px;
    border: 1px solid rgb(229, 229, 230);
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


main .foto-prod {
    width: 250px;
}

/*midia quieres para o flexbox*/
@media screen and (max-width: 1600px) {
    .produtos .produto-card {
        width: 250px;
        height: 300px;
    }

    main .foto-prod {
        width: 200px;
    }
}

@media screen and (max-width: 1350px) {
    .produtos .produto-card {
        width: 200px;
        height: 270px;
    }

    main .foto-prod {
        width: 180px;
    }
}

@media screen and (max-width: 1100px) {
    .produtos .produto-card {
        width: 150px;
        height: 220px;
    }

    main .foto-prod {
        width: 120px;
    }
}

@media screen and (max-width: 850px) {
    .produtos-lista {
        justify-content: flex-start;
        margin-left: 7.5%;
    }

    .produtos .produto-card {
        width: 150px;
        height: 220px;
    }

    main .foto-prod {
        width: 120px;
    }
}

/*estilização do index*/

.nome-iten {
    font-size: 16px;
    color: var(--cor-principal);
}

.preco {
    font-size: 16px;
    color: rgb(46, 46, 222);
    font-weight: 900;
}



/*estilização da paginas de produtos*/
.produtos-pagina {
    text-align: left;
}

.info-produto {
    text-align: center;
}
.produto-card:hover {
    transform: scale(1.04);
}
.img-prod {
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13);
}

/*Estilo botão quantidade*/
.inQuantidade {
    width: 100%;
    max-width: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s ease;
}

.inQuantidade:focus {
    outline: none;
    border-color: #007bff;
}

.btCarrinho {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btCarrinho:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btCarrinho:active {
    background-color: #004085;
}
/* Estilo geral do formulário */

.form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form h1 {
    text-align: center;
}


label {
    font-size: 20px;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-right: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

input[type="submit"]:active,
input[type="reset"]:active {
    background-color: #004085;
}

textarea {
    resize: vertical;
}

